services:

  events_db_service:
    image: postgres:13
    environment:   # Set up postgres database name and password
      POSTGRES_PASSWORD: password
      POSTGRES_DB: event
      POSTGRES_USER: root

    ports:    # Set up ports exposed for other containers to connect to
      - 5433:5432
    volumes:
      - ./postgres:/docker-entrypoint-initdb.d



  adminser:
    image: adminer
    restart: always
    depends_on: 
      - events_db_service
    ports:
      - 8080:8080

  